main h1{
    color: white;
}
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}
.card{
    border-radius:  5px;
    background-color: white;
    opacity: 100%;
    width: 90%;
    max-height: 500px;
    box-shadow: 2px 2px 5px #733d32;

}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h2 {
    text-align: center;

    margin: 10px 0 5px;
    font-size:1.5em;
}

.card p {
    padding: 10px;
    text-align: center;
    color: #666;
    font-size: 0.9em;
}