main h1{
    padding-top: 15px;
    text-align: center;
    color: white;
    font-family: 'Inria', serif;
    font-weight: 250;
    font-size: 2em;
}
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.card{
    margin-top: 20px;
    border-radius:  5px;
    background-color: white;
    opacity: 100%;
    width: 90%;
    max-height: 500px;
    box-shadow: 2px 2px 5px #733d32;
}
.card img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h2 {
    text-align: center;
    font-family: "Inria", serif;
    font-weight: 100;
    padding: 5px;
    font-size:1.5em;
}

.card p {
    padding: 0 20px 0 20px;
    text-align: center;
    color: #666;
    font-size: 1.15em;
}
article:first-of-type {
    margin-top: 0;
}