main h1{
    color: white;
}
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}
.card{
    background-color: white;
    opacity: .8;
    width: 90%;
    height: auto;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h2 {
    text-align: center;

    margin: 10px 0 5px;
    font-size:1.5em;
}

.card p {
    text-align: center;
    color: #666;
    font-size: 0.9em;
}