#main{
    background-image: none;
    background-color: #FFCF99;
}
main h1{
    text-align: center;
    color: white;
    font-family: 'Inria', serif;
    font-weight: 250;
    font-size: 2em;
    padding: 20px 20px;
}
#google-map{
    border-radius: 5px;
    box-shadow: 2px 2px 5px #5c4b37;
    height:400px;
    width: 90vw;
    margin: 20px;
}