#main{
    background-image: none;
    background: var(--backgnd-page-color);
}
@media (min-width: 500px) {
    #main{
        grid-template-columns: none ;
    }
}
main h1{
    text-align: center;
    color: white;
    font-family: 'Inria', serif;
    font-weight: 250;
    font-size: 2em;
    text-shadow: 2px 2px 8px #c6c6c6;

}
main h2{
    text-align: center;
    padding-bottom: 5px;
}
#google-map{
    border-radius: 5px;
    box-shadow: 2px 2px 5px #8a7153;
    height: 300px;
    width: 90vw;
    margin: 20px;
}
main #phone{
    margin: auto;
    align-items: center;
    padding: 5px 20px 5px 20px;
    font-family: 'Inria', serif;
    font-weight: 300;
    font-size: 1.3em;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #984234;
    background-color: #424242;
    color: #FFFFFF;
    width: fit-content;
}
div ul {
    padding-left:50px;
}
.bandeau{
    background: var(--backgnd-bandeau-color);
    width: 100%;
    height: auto;
    padding: 20px;
    font-size: 18px;
    color: var(--font-bandeau-color);
}
main h3 {
    text-align: center;
}