#main{
    background-image: none;
    background: var(--backgnd-page-color);
}
main h1{
    text-align: center;
    color: white;
    font-family: 'Inria', serif;
    text-shadow: 1px 1px 3px rgba(94, 94, 94, 0.46);
    font-weight: 250;
    font-size: 2em;
    padding-top: 20px;
}
.card{
    border-radius:  5px;
    background-color: white;
    opacity: 90%;
    width: 90%;
    height: auto;
    box-shadow: 2px 2px 5px #733d32;
    margin: 20px;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h2 {
    text-align: center;
    font-family: "Inria", serif;
    font-weight: 100;
    padding-top: 20px;
    font-size:1.7em;
}

.card p {
    text-align: justify;
    padding: 20px;

    color: #666;
    font-size: 1.3em;
}