#main{
    background: var(--backgnd-page-color);
}
main h1 {
    padding: 20px 20px;
    max-width: 100%;
    text-shadow: 2px 2px 8px #979797;
}
.bandeau {
    background: var(--backgnd-bandeau-color);
}
main{
    padding: 20px;
}
main h2{
    margin-top: 15px;
}