:root{
    font-family: 'Inria Sans', sans-serif ;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    height: 100vh;
    margin: 0;
    padding: 0;
}
nav{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    align-items: center;
    place-items: center;
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
    grid-row-start: 1;
    grid-row-end: 2;
}
nav svg {
    height: auto;
    width: auto;
    object-fit: contain;
}
#logo{
    grid-column-start: 1;
    grid-column-end: 2;
    height: auto;
    padding: 10px;
}
#entreprise{
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 6vw ;
    text-overflow-ellipsis: 5;
    padding: 10px;
}
.nav-icons{
    grid-column-start: 3;
    grid-column-end: 4;
    height: auto;
    padding: 10px;
}
main{
    max-height: 80vh;
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url("../img/background.png");
    background-size: cover;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    place-items: center;
}
footer{
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    align-items: center;
    place-items: center;
    display: grid;
    grid-template-columns: 12vw 52vw 12vw 12vw 12vw;
    background-color: #ffffff;
    grid-row-start: 3;
    grid-row-end: 4;
    object-fit: contain;
}
.footer-icons{
    padding: 8px;
    height: auto;
    font-size: 1.5rem;
}

#claim{
    text-align: center;
    padding: 5%;
    font-size: 8vw;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.82);
}
#annonce{
    border-radius: 15px;
    padding: 5%;
    max-height: 60%;
    max-width: 80%;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 4vw;
    background-color: rgba(255, 255, 255, 0.65);
    transform: skew(-10deg);
    text-overflow: fade;
}
#phone{
    justify-self: start;
}